.footer_main{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_link ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_link ul li{
    text-decoration: none;
    list-style: none;
    color: white;
    margin-right: 20px;
}
.footer_link ul li:hover{
    color: #eb1298;
}
@media screen and (max-width: 300px) {
    .footer_main{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .footer_link ul li{
        margin-right: 0;
    }
}